@import "base_elements";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  .button-block {
    display: grid;
    gap: 8px;

    &__general-btn {
      width: 275px;
      height: 55px;
      color: black;
      border: 0.5px solid white;
      border-radius: 10px;
      background-color: white;
      font-size: 20px;
      transition: transform 0.25s ease-in-out;

      &:hover {
        transform: scale(0.975);
      }
    }

    &__other-btn {
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      width: 275px;
      height: 38px;
      color: white;
      background-color: transparent;
      border: 0.5px solid white;
      border-radius: 10px;
      font-size: 20px;
      transition: transform 0.25s ease-in-out;

      &:hover {
        transform: scale(0.975);
      }
    }

    &:last-child {
      margin-bottom: 23px;
    }
  }

  .input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      align-self: flex-start;
      font-size: 20px;
      height: 38px;
      display: flex;
      align-items: center;
      margin-top: 6px;
    }
  }

  &__auth-panel {
    color: white;
    width: 323px;
    background-color: $bg_two_color;
    border: 0.5px solid $stroke_orange_color;
    margin-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &--register {
      height: 552px;
    }

    &--login {
      height: 431px;
    }
  }

  &__header {
    width: 323px;
    height: 56px;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $stroke_orange_color;
    border: 0.5px solid $stroke_orange_color;
    display: flex block;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0;
  }
}