@import "base_elements";

main {
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 1280px;

  &__header {
    color: white;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px 0 0;
  }

  &__basket-panel {
    &--action {
      max-width: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $stroke_orange_color;
        text-decoration: none;
        width: 100%;
        height: 100%;
        font-weight: 1000;
        cursor: pointer;
      }
    }

    table {
      overflow: hidden;
      border-collapse: separate;
      width: 100%;
      margin: 25px 0;
      font-size: 18px;
      text-align: left;
      border-spacing: 0;

      thead {
        th {
          background-color: white;
          border: 5px solid white;
          padding: 10px;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 400;
        }

        tr {
          th:first-child {
            border-top-left-radius: 10px;
          }

          th:last-child {
            border-top-right-radius: 10px;
          }
        }
      }

      tbody {
        td {
          font-weight: 400;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 20px;
          padding: 10px;
          border: 0.5px solid white;
          color: white;
        }

        tr:last-child {
          td:first-child {
            border-bottom-left-radius: 10px;
          }

          td:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
}