// BG
$bg_color: #2F2F2F;
$bg_two_color: #2C2C2C;
$bg_three_color: #181818;
$bg_input_color: #373737;

// STROKE
$stroke_orange_color: #FE7028;
$stroke_white_color: #FFFFFF;
$stroke_gray_color: #4F4F4F;

// TEXT
$text_gray_color: #8F8F8F;